<nz-steps class="w-full sm:w-1/2 m-auto" [nzCurrent]="current">
  <nz-step nzTitle="选择角色"></nz-step>
  <nz-step nzTitle="选择世界"></nz-step>
  <nz-step nzTitle="前情提要"></nz-step>
</nz-steps>

<div class="my-4 relative">
  @if (current === 0) {
    <nz-spin [nzSpinning]="!characters.length">
      <div class="h-full min-h-96 grid grid-cols-2 md:grid-cols-4 gap-4 overflow-auto border rounded p-4 bg-slate-100">
        @for (item of characters; track $index) {
          <div
            [ngClass]="[item.baseInfo.gender === '男' ? ' border-blue-300 bg-blue-100' : ' border-red-300 bg-red-100']"
            class="flex flex-col justify-center items-center text-center p-4 rounded cursor-pointer hover:shadow-lg w-full border"
            (click)="onCharacterClick(item)"
          >
            <nz-descriptions [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }">
              <nz-descriptions-item nzTitle="姓名" [nzSpan]="2">{{ item.baseInfo.name }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="性别">{{ item.baseInfo.gender }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="年龄">{{ item.baseInfo.age }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="天赋" [nzSpan]="2">
                @for (item of item.baseInfo.talent; track $index) {
                  <nz-tag>{{ item.name }}</nz-tag>
                }
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="生命">{{ item.innateInfo.hp }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="灵力">{{ item.innateInfo.mp }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="攻击">{{ item.innateInfo.attack }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="防御">{{ item.innateInfo.defence }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="敏捷">{{ item.innateInfo.speed }}</nz-descriptions-item>
            </nz-descriptions>
          </div>
        }
      </div>
    </nz-spin>
  }
  @if (current === 1) {
    <nz-spin [nzSpinning]="!envs.length">
      <div class="h-full min-h-96 grid grid-cols-1 sm:grid-cols-2 gap-4 overflow-auto border rounded p-4 bg-slate-100">
        @for (item of envs; track $index) {
          <div
            class="flex flex-col justify-center items-center text-center p-4 rounded cursor-pointer hover:shadow-lg w-full bg-white"
            (click)="onEnvClick(item)"
          >
            <nz-descriptions [nzColumn]="1">
              <nz-descriptions-item nzTitle="名称">{{ item.name }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="修炼速度">{{ item.weight }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="最大经验">{{ item.maxExp }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="世界类型">{{ envSrv.getEnvType(item.type) }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="等级体系">
                <app-level-map-view [levelMap]="item.levelMap" />
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="功法体系">
                @for (item of item.methodSuits; track $index) {
                  <nz-tag>{{ item.name }}</nz-tag>
                }
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        }
      </div>
    </nz-spin>
  }
  @if (current === 2) {
    <nz-spin [nzSpinning]="!story">
      <div class="flex flex-col gap-2 justify-center align-middle border rounded p-4 bg-slate-100">
        <p class="min-h-96 whitespace-pre-wrap text-lg">{{ story }}</p>
        <button class="mt-2" nz-button nzSize="large" nzType="primary" (click)="onSubmitClick()">开始旅程</button>
      </div>
    </nz-spin>
  }
</div>
