<nz-steps class="w-1/2 m-auto" [nzCurrent]="current">
  <nz-step nzTitle="选择人物"></nz-step>
  <nz-step nzTitle="选择世界"></nz-step>
</nz-steps>

<div class="my-4">
  @if (current === 0) {
    <div class="h-full grid grid-cols-2 sm:grid-cols-4 gap-4 overflow-auto border rounded p-4 bg-slate-100">
      @for (item of characters; track $index) {
        <div
          [ngClass]="[item.gender === '男' ? ' border-blue-300 bg-blue-100' : ' border-red-300 bg-red-100']"
          class="flex flex-col justify-center items-center text-center p-4 rounded cursor-pointer hover:shadow-lg w-full border"
          (click)="onCharacterClick(item)"
        >
          <nz-descriptions [nzColumn]="1">
            <nz-descriptions-item nzTitle="姓名">{{ item.name }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="性别">{{ item.gender }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="年龄">{{ item.age }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="特质">{{ item.ability }}</nz-descriptions-item>
          </nz-descriptions>
        </div>
      }
    </div>
  }
  @if (current === 1) {
    <div class="h-full grid grid-cols-1 sm:grid-cols-2 gap-4 overflow-auto border rounded p-4 bg-slate-100">
      @for (item of envs; track $index) {
        <div
          class="flex flex-col justify-center items-center text-center p-4 rounded cursor-pointer hover:shadow-lg w-full bg-white"
          (click)="onEnvClick(item)"
        >
          <nz-descriptions [nzColumn]="1">
            <nz-descriptions-item nzTitle="名称">{{ item.name }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="修炼速度">{{ item.weight }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="最大能量">{{ item.maxEnergy }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="等级体系">
              <app-level-map-view [levelMap]="item.levelMap" />
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      }
    </div>
  }
</div>
