<div class="flex flex-col h-full overflow-auto">
  <div class="flex justify-between items-center mb-2">
    <h5 nz-typography class="underline decoration-sky-500">探索</h5>
    <button nz-button (click)="onBackClick()">返回</button>
  </div>
  <div class="flex-1 h-0 overflow-auto">
    <table class="w-full aspect-square table-fixed">
      @for (map of mapList; track $index) {
        <tr>
          @for (item of map; track $index) {
            <td class="border border-gray-300 aspect-square"> </td>
          }
        </tr>
      }
    </table>
  </div>
</div>
