<div class="h-full p-2 bg-white rounded shadow-md shadow-gray-200">
  <div nz-row>
    <div nz-col nzXs="24" nzLg="12">
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="世界名称">{{
          env.name
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="世界类型">{{
          getEnvType(env.type)
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="修炼倍数">{{
          env.weight
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="等级体系">
          <app-level-map-view
            [levelMap]="env.levelMap"
            [currentLevel]="currentLevel"
          />
        </nz-descriptions-item>
      </nz-descriptions>
    </div>
  </div>
</div>
