<h5 nz-typography class="underline decoration-sky-500">任务面板</h5>
<div class="flex-1 p-4 border-gray-300 border rounded overflow-auto">
  @if (currentTask) {
    <div class="h-full flex flex-col justify-between items-center">
      <div class="flex flex-col gap-4 w-full">
        <h5 nz-typography>{{ currentTask.title }}</h5>
        <p>
          <span class="font-bold">任务描述：</span>
          {{ currentTask.description }}
        </p>
        <p>
          <span class="font-bold">任务奖励：</span>
          @for (reward of currentTask.rewards; track $index) {
            <span class="mr-2">{{ ItemMap[reward.id].name }} * {{ reward.count }}</span>
          }
        </p>
        <p>
          <span class="font-bold">任务目标：</span>
          @for (condition of currentTask.conditions; track $index) {
            <span class="mr-2">{{ condition.title }}({{ condition.current }}/{{ condition.goal }})</span>
          }
        </p>
        <p>
          <span class="font-bold">完成情况：</span>
          {{ currentTask.isCompleted ? '已完成' : '未完成' }}
        </p>
      </div>
      <div>
        @if (currentTask.isCompleted) {
          <button nz-button (click)="onGetRewardClick()">获得奖励</button>
        }
      </div>
    </div>
  } @else {
    <div class="w-full h-full flex justify-center items-center">
      <nz-empty nzNotFoundContent="当前无任务"></nz-empty>
    </div>
  }
</div>
