<div class="w-full flex flex-col gap-2">
  <div class="flex justify-between items-center">
    <div class="flex-1 flex flex-col justify-start items-center">
      <div class="w-12 flex-none">我方</div>
      <app-progress-view [current]="leftTotalData.hp" [total]="leftTotalData.totalHp" />
      <app-progress-view [current]="leftTotalData.mp" [total]="leftTotalData.totalMp" color="bg-blue-500" />
    </div>
    <div class="text-xl font-bold mx-12">vs</div>
    <div class="flex-1 flex flex-col justify-start items-center">
      <div class="w-12 flex-none">敌方</div>
      <app-progress-view [current]="rightTotalData.hp" [total]="rightTotalData.totalHp" direction="right" />
      <app-progress-view [current]="rightTotalData.mp" [total]="rightTotalData.totalMp" direction="right" color="bg-blue-500" />
    </div>
  </div>
  <div class="border border-gray-300 rounded overflow-auto h-32 sm:h-96 p-4">
    @for (item of battleLogs; track $index) {
      <p class="text-sm mb-2" [innerHTML]="item"></p>
    }
  </div>
</div>
<div class="modal-footer">
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="onConfirmClick()"> 确定 </button>
    <button *nzSpaceItem nz-button nzType="primary"> 逃跑 </button>
  </nz-space>
</div>
