<nz-layout class="h-screen w-screen overflow-hidden">
  <nz-content class="w-full h-full grid-content overflow-auto">
    <app-header class="env" />
    <app-character class="character overflow-auto" />
    <div class="main min-w-min overflow-auto p-2 bg-white rounded shadow-md shadow-gray-200">
      <div class="flex flex-col h-full gap-2">
        <nz-segmented
          class="w-full"
          [ngModel]="currentSegmented"
          [nzOptions]="segmentedList"
          (ngModelChange)="onSegmentedChange($event)"
        ></nz-segmented>
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-sider class="info hidden sm:block overflow-auto" />
  </nz-content>
</nz-layout>
