:host {
  .grid-content {
    padding: 12px;
    display: grid;
  }
  @media screen and (min-width: 768px) {
    .grid-content {
      grid-template-columns: 200px 1fr 400px;
      grid-template-rows: minmax(64px, max-content) 1fr;
      gap: 8px 8px;
      grid-template-areas:
        "env env env"
        "character main info";
    }
    .mobile-banner,
    .mobile-main {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .grid-content {
      grid-template-columns: 1fr;
      grid-template-rows: minmax(64px, max-content) 1fr 48px;
      gap: 8px 8px;
      grid-auto-flow: row;
      grid-template-areas:
        "env"
        "mobile-main"
        "mobile-banner";
      min-width: 300px;
    }
    .character,
    .main,
    .info {
      display: none;
    }
  }

  .env {
    grid-area: env;
  }

  .character {
    grid-area: character;
  }

  .main {
    grid-area: main;
  }

  .info {
    grid-area: info;
  }

  .mobile-banner {
    grid-area: mobile-banner;
  }

  .mobile-main {
    grid-area: mobile-main;
  }
}
