:host {
  .grid-content {
    display: grid;
    flex: 1 1 100vh;
    height: 0;
    padding: 12px;
    grid-template:
      'env' auto
      'character' auto
      'main' 1fr / auto;
    min-width: 300px;
    gap: 8px;

  }

  @media screen and (min-width: 640px) {
    .grid-content {
      grid-template:
        'env env env' auto
        'character main info' 1fr / 240px 1fr 400px;
    }
  }

  .env {
    grid-area: env;
  }

  .character {
    grid-area: character;
  }

  .main {
    grid-area: main;
  }

  .info {
    grid-area: info;
  }
}
