<div class="flex flex-col h-full divide-y">
  <div class="flex-1 flex flex-col gap-2">
    <div>
      <h5 nz-typography class="underline decoration-sky-500">洞府</h5>
      <div class="flex gap-2">
        @if (isUpgrade) {
          <button nz-button nzType="primary" (click)="onUpgradeClick()"> 升级 </button>
        } @else {
          <button nz-button nzType="primary" [nzLoading]="isLocked" (click)="onCultivationClick()"> 修炼 </button>
          <button nz-button nzType="primary" (click)="onAutoCultivationClick()">
            @if (isAutoCultivate) {
              停止修炼
            } @else {
              自动修炼
            }
          </button>
        }
      </div>
    </div>
    <div>
      <h5 nz-typography class="underline decoration-sky-500">云游</h5>
      <div class="flex flex-wrap gap-2">
        @for (enemy of enemys; track $index) {
          <button nz-button nzType="primary" (click)="onBattleClick(enemy)">
            {{ enemy.baseInfo.name }}({{ envSrv.levelMap[enemy.levelInfo.level] }})
          </button>
        }
      </div>
    </div>
  </div>
  <app-backpack class="h-72 sm:h-1/3 flex flex-col" />
</div>
