<nz-steps [nzCurrent]="current">
  <nz-step nzTitle="选择人物"></nz-step>
  <nz-step nzTitle="选择特质"></nz-step>
  <nz-step nzTitle="选择世界"></nz-step>
</nz-steps>

<div class="my-4 h-96">
  @if(current===0){
  <nz-card class="h-full" [nzBodyStyle]="{ height: '100%' }">
    @for (item of characters; track item.name) {
    <div
      nz-card-grid
      class="flex flex-col justify-center items-center"
      [ngStyle]="gridStyle"
    >
      <nz-descriptions [nzColumn]="1">
        <nz-descriptions-item nzTitle="姓名">{{
          item.name
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="性别">{{
          item.gender
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="年龄">{{
          item.age
        }}</nz-descriptions-item>
      </nz-descriptions>
    </div>
    }
  </nz-card>
  }
</div>
<div class="flex justify-center gap-2">
  @if (current > 0) {
  <button nz-button nzType="default" (click)="pre()">
    <span>上一步</span>
  </button>
  } @if (current < 2) {
  <button nz-button nzType="default" (click)="next()">
    <span>下一步</span>
  </button>
  } @if (current === 2) {
  <button nz-button nzType="primary" (click)="done()">
    <span>进入</span>
  </button>
  }
</div>
