<div class="h-full overflow-auto p-2 bg-white rounded shadow-md shadow-gray-200">
  <h5 nz-typography class="underline decoration-sky-500">角色信息</h5>
  <nz-descriptions nzSize="small" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 3 }">
    <nz-descriptions-item nzTitle="姓名" [nzSpan]="2">{{ character.baseInfo.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="性别">{{ character.baseInfo.gender }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="年龄">{{ character.baseInfo.age }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="天赋" [nzSpan]="2">
      @for (item of character.baseInfo.talent; track $index) {
        <nz-tag>{{ item.name }}</nz-tag>
      }
    </nz-descriptions-item>
  </nz-descriptions>
  <h5 nz-typography class="underline decoration-sky-500">状态信息</h5>
  <nz-descriptions nzSize="small" [nzColumn]="1">
    <nz-descriptions-item nzTitle="血量">
      <app-progress-view [current]="character.statusInfo.hp" [total]="character.attrInfo.hp" />
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="灵力">
      <app-progress-view [current]="character.statusInfo.mp" [total]="character.attrInfo.mp" color="bg-blue-500" />
    </nz-descriptions-item>
  </nz-descriptions>
  <h5 nz-typography class="underline decoration-sky-500">修炼属性</h5>
  <nz-descriptions nzSize="small" [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 2, xs: 2 }">
    <nz-descriptions-item nzTitle="经验">{{ character.levelInfo.exp }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="战力">{{ character.levelInfo.power }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="境界">{{ getLevelByExp() }}</nz-descriptions-item>
  </nz-descriptions>
  <h5 nz-typography class="underline decoration-sky-500">战斗属性</h5>
  <nz-descriptions nzSize="small" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 3 }">
    <nz-descriptions-item nzTitle="生命">{{ character.attrInfo.hp }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="灵力">{{ character.attrInfo.mp }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="攻击">{{ character.attrInfo.attack }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="防御">{{ character.attrInfo.defence }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="敏捷">{{ character.attrInfo.speed }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="暴击">{{ character.attrInfo.critRate }}%</nz-descriptions-item>
    <nz-descriptions-item nzTitle="爆伤">{{ character.attrInfo.critDamage }}%</nz-descriptions-item>
  </nz-descriptions>
  <h5 nz-typography class="underline decoration-sky-500">天资属性</h5>
  <nz-descriptions nzSize="small" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 3 }">
    <nz-descriptions-item nzTitle="生命">{{ character.innateInfo.hp }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="灵力">{{ character.innateInfo.mp }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="攻击">{{ character.innateInfo.attack }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="防御">{{ character.innateInfo.defence }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="敏捷">{{ character.innateInfo.speed }}</nz-descriptions-item>
  </nz-descriptions>
</div>
